.layout-game {
    display: flex;
    flex-direction: horizontal;
    height: 100%;
}

.menu-game {
    background: #ccc;
    height: 100%;
    flex: 0 0 250px;
}
.menu-game ul {
    padding: 0;
}
.menu-game .menu-item {
    list-style-type: none;
    margin: 15px 0 5px 0;
    text-align: center;
}
.menu-game .menu-item img {
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
.menu-game .menu-item.active {
    font-size: 1.4em;
}

.layout-body {
    flex: 1 1 auto;
    height: 100%;
}