@import url('https://fonts.googleapis.com/css?family=Raleway');

.dashboard {
    font-family: "Raleway", sans-serif;

    --accent: red;
    --item-background: rgba(75,75,75,.1);
    --item-outline: rgba(0, 0, 0, .1);
}

.dashboard .layout-master-details .master {
    flex: 0 0 250px;
}

.dashboard .details .content {
    height: 100%;
    overflow-y: scroll;
}
.dashboard .details .content.snap {
    scroll-snap-type: y mandatory;
}
.dashboard .details .content-page {
    min-height: 100vh;
    position: relative;
    padding: 30px;
    scroll-snap-align: start;
}

.menu-dashboard {
    animation: .5s slide-in-right;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    position: relative;
}
.menu-dashboard:after {
    background: var(--firewatch-grad);
    border-radius: 10px;
    content: '';
    height: 90%;
    position: absolute;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2px;
}

.menu-dashboard .menu-top {
    flex: 1 1 auto;
}

.menu-dashboard .menu-bottom {
    flex: 0 1 auto;
}

.menu-dashboard ul {
    list-style-type: none;
    padding: 0;
}

.menu-dashboard ul li {
    cursor: pointer;
    font-size: 1.6em;
    padding: 10px;
    position: relative;
}
.menu-dashboard ul li:after {
    background: var(--firewatch-grad);
    border-radius: 10px;
    content: '';
    height: 90%;
    position: absolute;
    margin: auto;
    top: 0;
    transition: width .2s;
    right: 100%;
    bottom: 0;
    width: 0px;  
}
.menu-dashboard ul li.active:after {
    width: 5px !important;  
}

.menu-dashboard ul li:hover:after {
    width: 2px;    
}



.content-page.characters .previews {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-page.campaigns .previews {
    display: flex;
    flex-direction: column;
}
.content-page.campaigns .previews .campaign-preview {
    flex: 0 0 auto;
}

.character-preview,
.campaign-preview {
    align-items: center;
    background: var(--item-background);
    backdrop-filter: blur(5px);
    border-radius: 2px;
    display: flex;
    margin: 10px;
    min-height: 50px;
    outline: 2px solid var(--item-outline);
    outline-offset: -13px;
    padding: 25px;
    transition: .2s all;
}
.character-preview:hover {
    transform: scale(1.07);
}
.campaign-preview:hover {
    transform: scale(1.02);
}

.content-page .previews .add-item {
    color: var(--item-outline);
    cursor: pointer;
    font-size: 3em;
    font-weight: bolder;
    outline: none;
    padding: 20px;
    background: none;
    border: 3px dashed var(--item-outline);
    transform: none !important;
}
.content-page .previews .add-item span {
    display: block;
    margin: auto;
}

.content-page .slide-panel {
    animation: slide-in-left .4s;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, .9);
    padding: 25px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.content-page .campaign-image {
    animation: fade-in .3s;
    position: absolute;
    right: 0; bottom: 0;
    width: 50vw;
    height: auto;

}
.content-page .campaign-image:after {
    background: rgba(255, 255, 255, .8);
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

}

@media screen and (min-width: 889px) {
    .content-page.characters .previews {
        grid-template-columns: 1fr 1fr 1fr;
    }   
}

@media screen and (min-width: 1199px) {
    .content-page.characters .previews {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }   
}