.hidden {
    display: none;
}

.ul-horizontal {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.float-right { float: right }

.pointer { cursor: pointer }

.validator {
    color: red;
    font-size: .8em;
    margin: 0;
}